<div class="header" fxLayout="row" fxLayoutAlign=" center">
  <h1 fxFlex>List of Emojis
    <button mat-mini-fab (click)="add()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </h1>
</div>



<mat-card>
  <div fxLayout="row" fxLayoutAlign=" center" class="intent-container">
    <div fxFlex="30">
      Stiker
    </div>
    <div fxFlex="10">
      Name
    </div>
    <div fxFlex="20">
      Tags
    </div>
    <div fxFlex="10">
      Category
    </div>
    <div fxFlex="10">
      Paid/Free
    </div>
    <div fxFlex="20">
      Action
    </div>
  </div>
  <br>

</mat-card>


<mat-card>
  <div *ngFor="let emoji of emojis" fxLayout="row" fxLayoutAlign=" center" class="intent-container">
    <div fxFlex="30">
      <img [src]="emoji.image" height="200px" width="200px">
    </div>
    <div fxFlex="10">
      {{emoji.name}}
    </div>
    <div fxFlex="20">
      {{emoji.tags}}
    </div>
    <div fxFlex="10">
      {{emoji.category}}
    </div>
    <div fxFlex="10">
      {{emoji.isPaid}}
    </div>
    <div fxFlex="20">
      <button mat-icon-button (click)="edit(emoji)" color="accent">
        <mat-icon aria-label="Edit this emoji">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(emoji)" color="warn">
        <mat-icon aria-label="Delete this emoji">delete</mat-icon>
      </button>
    </div>
  </div>
  <br>

</mat-card>